.container {
    width: 450px;
    height: fit-content;
    background-color: white;
    border: 1px solid var(--color3);
    border-radius: 10px;

}

.container>p {
    color: var(--color1);
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
}

.content {
    border-top: 2px solid var(--color2);
    border-bottom: 2px solid var(--color3);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content label {
    font-weight: 600;
}

.content input {
    width: 400px;
    height: 28px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}


.part2M {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



.listProduct table {
    width: 100%;
}

.listProduct thead td {
    width: 150px;
    height: 24px;
    font-weight: bold;
}

.listProduct tbody {
    max-height: 100px;
    overflow-y: scroll;
    display: block;
}

.listProduct tbody td {
    height: 40px;

}

.listProduct thead,
.listProduct tbody tr {
    display: table;
    width: 100%;
}

.listProduct select {
    height: 32px;
    border-radius: 5px;
}

.listProduct input {
    width: 50px;
}

.end {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin: 10px;
}

.end button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--color2);
    cursor: pointer;
    font-weight: bold;
}

.end button:first-child {
    background-color: var(--color4);
}