.container {
    background-color: var(--color3);
    height: 64px;
    display: flex;
    align-items: center;
}

.header_left {
    display: flex;
    gap: 8px;
    background-color: var(--color2);
    height: 100%;
    padding: 0 12px;
    /* padding-left: 12px; */
    align-items: center;
    flex: 1;
}

.image {
    border-radius: 50%;
}

.inforStaff {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
}

.inforStaff p {
    color: white;
    font-weight: 300;
    font-size: 12px;
}

.inforStaff p:first-child {
    font-weight: 500;
    font-size: 16px;
}

.header_right {
    background-color: var(--color1);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex: 7;
}

.header_right p {
    color: white;
    font-weight: bold;
}