.container {
    width: 500px;
    height: fit-content;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 20px;
}

.title {
    height: 32px;
    font-size: 24px;
    font-family: sans-serif;
    border-bottom: 1px solid var(--color1);
    width: 100%;
}

.title p {
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 24px;
}

.information label {
    margin-right: 8px;
    display: inline-block;
    width: 100px;
    font-weight: 500;
}

.information input {
    width: 300px;
    height: 24px;
    border-radius: 4px;
    border-color: rgb(226, 226, 226);
}

.information select {
    width: 308px;
    height: 32px;
    border-radius: 4px;
    border-color: rgb(226, 226, 226);
    border: 1px solid;
}

.btn {
    border-top: 1px solid #000;
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 24px;
}

.btn button {
    width: 80px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

.btnAdd {
    background: white;
    border-color: var(--color2);
    color: var(--color2);
}

.btnAdd:hover {
    background-color: var(--color2);
    color: white;
}

.btnCancel {
    background: white;
    border-color: #dbdb00;
    color: #dbdb00;
}

.btnCancel:hover {
    background-color: #dbdb00;
    color: white;
}